{% extends "base.html" %}

{% block title %}Calificaciones{% endblock %}

{% block content %}
<div class="text-center mt-3 mb-2">
  <h6><strong>Calificaciones</strong></h6>
</div>

<div class="d-grid gap-2 px-4">
  <button class="btn btn-outline-dark rounded-pill p-3">Primer Año</button>
  <button class="btn btn-outline-dark rounded-pill p-3">Segundo Año</button>
  <button class="btn btn-outline-dark rounded-pill p-3">Tercer Año</button>
  <button class="btn btn-outline-dark rounded-pill p-3">Cuarto Año</button>
  <button class="btn btn-outline-dark rounded-pill p-3">Quinto Año</button>
</div>

<div class="footer-note mt-3">
  La siguiente información es un historial de calificaciones del alumno. Ante cualquier duda mostrada en la aplicación puede dirigirse a las diferentes instancias en el campus de la institución
</div>
{% endblock %}
