{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="profile-section">
  <img src="https://i.imgur.com/Ws6Tmn0.png" alt="Avatar">
  <p class="mt-2"><strong>Juanito Pérez Esquer</strong></p>
</div>

<div class="info-box">Promedio General<br><span class="text-muted">9.06</span></div>
<div class="info-box">Rendimiento<br><span class="text-muted">Alto</span></div>
<div class="info-box">Tareas Pendiente(s)<br><span class="text-muted">3</span></div>

<div class="footer-note">
  Dudas acerca de la información mostrada en la aplicación puede dirigirse a las diferentes instancias en el campus de la institución
</div>
{% endblock %}
