<div class="card  mb-2" style="background: #529c43; border:none; margin: 20px 35px 0 25px;">
    <h2 style="color: white; font-family: 'Lexend Deca', sans-serif; font-size: 28px; text-align: center;">
        Filtros
    </h2>

    <div class="card-body py-3" style="background: #529c43;">
        <form class="search-form w-100" method="get" id="filters">
            <div class="row justify-content-center">
                {% if filter.body_template %}
                    {% include filter.body_template %}
                {% else %}
                   {% for filter_name in filter.form %}
                        {% if filter.form.fields|length|divisibleby:"5" %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
                        {% elif filter.form.fields|length|divisibleby:"4" %}
                            <div class="col-12 col-sm-6 col-lg-3 my-3">
                        {% elif filter.form.fields|length|divisibleby:"3" %}
                            <div class="col-12 col-sm-6 col-lg-4 my-3">
                        {% elif filter.form.fields|length|divisibleby:"2" %}
                            <div class="col-12 col-sm-6 my-3">
                        {% else %}
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-3">
                        {% endif %}
                            <label class="form-label input-color fw-bold" style="color:white" for="{{ form.zone_name.id_for_label }}">{{ filter_name.label_tag }}</label>
                            <div class="input-group">
                                {{ filter_name }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="text-end mt-3" style="margin-right: 30px;">
                <a href="{{ request.path }}" class="btn btn-light btn-sm me-2">
                    Borrar filtros
                </a>
                <button class="btn btn-sm" type="submit" style="background: white; color: #529c43;">
                    Filtrar
                </button>
            </div>
        </form>
    </div>
</div>
